NEBIUS_API_KEY="eyJhbGciOiJIUzI1NiIsImtpZCI6IlV6SXJWd1h0dnprLVRvdzlLZWstc0M1akptWXBvX1VaVkxUZlpnMDRlOFUiLCJ0eXAiOiJKV1QifQ.eyJzdWIiOiJnb29nbGUtb2F1dGgyfDExNzI1NTI5MTg3NzM1NzUyNDQ4MyIsInNjb3BlIjoib3BlbmlkIG9mZmxpbmVfYWNjZXNzIiwiaXNzIjoiYXBpX2tleV9pc3N1ZXIiLCJhdWQiOlsiaHR0cHM6Ly9uZWJpdXMtaW5mZXJlbmNlLmV1LmF1dGgwLmNvbS9hcGkvdjIvIl0sImV4cCI6MTkxMzU1NDM3MiwidXVpZCI6IjFkNGJhZTk0LWMyZDUtNDNlYy04NTMzLTNjNDY4YjdkNDgxOSIsIm5hbWUiOiJmaW5hbmNlLWFnZW50IiwiZXhwaXJlc19hdCI6IjIwMzAtMDgtMjFUMTQ6NTI6NTIrMDAwMCJ9.EglesIn1iTlwYR67IG6JgyZSauYpbY8Z9vp9TTTKyg0"
